<template name="ApplicationLayout">
    <header>
        <title>chatroom</title>
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </header>
    <body>
        <header>
            <nav role="navigation">
                <div class="nav-warpper container">
                    <a href="/" id="logo-container" class="brand-logo">chatroom</a>
                    <ul class="right">
                        <li><a href=""><i class="material-icons left">search</i>Find Friends</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</template>

<head>
    <title>chatroom</title> 
</head>

<body>
    <h1>Component Stuff</h1>
    {{> welcome }}
</body>

<template name="welcome">
    <h2>Welcome!</h2>
    {{message}}
    <button class="event-alerts">Click</button>
</template>